@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Registrasikan warna ke sistem theme Tailwind */
  --color-primary: #10b981;
  --color-primary-dull: #6ee7b7;
  --color-secondary: #059669;
  --color-accent: #34d399;
}

/* Custom utility non-Tailwind tetap bisa di sini */
@layer utilities {
  .noScrollBar::-webkit-scrollbar {
    display: none;
  }
}